FLASK_ENV=development # production
BACKEND_URL=enter_your_backend_url_here
PORT=any_port_of_your_choice

DATABASE_URL=enter_your_database_url_here # uncomment it when you want to deploy to a postgres server

FLASK_SECRET_KEY=enter_your_flask_secret_key_here

JWT_SECRET_KEY=enter_your_jwt_secret_key_here
JWT_ACCESS_TOKEN_EXPIRES=enter_your_jwt_access_token_lifetime_here
JWT_REFRESH_TOKEN_EXPIRES=enter_your_jwt_refresh_token_lifetime_here

SQLALCHEMY_DATABASE_URI=enter_your_local_sqlalchemy_database_uri_here
SQLALCHEMY_TRACK_MODIFICATIONS=False

CLOUD_NAME=your_cloudinary_cloudname
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

LOCAL_REDIS_URL=your_local_redis_url
REDIS_URL=your_prod_redis_url
